html,body{
  width: 100%;
  height: 100%;
  background-color: #222;
}
.content{
  width: 100%;
  height: 100%;
}

/* stage -- start */
.stage{
  position: relative;
  width: 100%;
  height: 100%;
}
/* stage -- end */

/* img -- start */
.img-sec{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
  perspective: 1500px;
  @at-root{
    .img-figure {
      position: absolute;
      width: 220px;
      height: 255px;
      margin: 0;
      padding: 20px;
      background-color: #fff;
      box-sizing: border-box;
      cursor: pointer;
      transform-origin: 0 50% 0;
      transform-style: preserve-3d;
      transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
      &.is-inverse {
        transform:translate(220px) rotateY(180deg);
      }
      img{
        width: 180px;
      }
    }

    .img-back {
      position: absolute;
      left: 0;
      top: 0;
      width: 220px;
      height: 255px;
      padding: 30px;
      box-sizing: border-box;
      text-align: center;
      color: #666;
      transform: rotateY(180deg) translateZ(1px);
      backface-visibility:hidden;
      
      background: #fff;
    }
    figcaption{
      text-align: center;
      .img-title{
        margin: 10px 0 0 0;
        color: #a0a7a2;
        font-size: 16px;
      }
    }
  }
  
}
/* img -- end */

/* controller -- start */
.controller-nav{
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align: center;
}
/* controller -- end */