@font-face{
  font-family: 'icons-turn-arrow';
  src: url('../fonts/icons/turn-arrow.eot') format("embedded-opentype"), /* IE9*/
  url('../fonts/icons/turn-arrow.woff') format('woff'), /* chrome、firefox */
  url('../fonts/icons/turn-arrow.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/icons/turn-arrow.svg') format('svg'); /* iOS 4.1- */
}
html,body{
  width: 100%;
  height: 100%;
  background-color: #222;
}
.content{
  width: 100%;
  height: 100%;
}

/* stage -- start */
.stage{
  position: relative;
  width: 100%;
  height: 100%;
}
/* stage -- end */

/* img -- start */
.img-sec{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
  perspective: 1500px;
  @at-root{
    .img-figure {
      position: absolute;
      width: 220px;
      height: 255px;
      margin: 0;
      padding: 20px;
      background-color: #fff;
      box-sizing: border-box;
      cursor: pointer;
      transform-origin: 0 50% 0;
      transform-style: preserve-3d;
      transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
      &.is-inverse {
        transform:translate(220px) rotateY(180deg);
      }
      img{
        width: 180px;
      }
    }

    .img-back {
      position: absolute;
      left: 0;
      top: 0;
      width: 220px;
      height: 255px;
      padding: 30px;
      box-sizing: border-box;
      text-align: center;
      color: #666;
      transform: rotateY(180deg) translateZ(1px); //添加translateZ(1px)，解决safari下旋转显示问题
      backface-visibility:hidden;
      
      background: #fff;
    }
    figcaption{
      text-align: center;
      .img-title{
        margin: 10px 0 0 0;
        color: #a0a7a2;
        font-size: 16px;
      }
    }
  }
  
}
/* img -- end */

/* controller -- start */
.controller-nav{
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align: center;
  @at-root{
    .controller-unit{
      display: inline-block;
      margin: 0 5px;
      width: 30px;
      height: 30px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-color: #aaa;
      border-radius: 50%;
      transform: scale(.5);
      transition: transform .6s ease-in-out, background-color .3s;
      &.is-center{
        transform: scale(1);
        background-color: #888;
        &::after{
          color: #fff;
          font-family: "icons-turn-arrow";
          font-size: 80%;
          content: "\e600";
          line-height: 30px;
          -webkit-font-smoothing:antialiased; //开启chrome灰阶
          -moz-osx-font-smoothing:grayscale; //开启firefox在max上的字体灰阶
        }
        &.is-inverse{
          background-color: #555;
          transform: rotateY(180deg);
        }
      } 
    }
  }
}
/* controller -- end */








